.toolbar {
  height: 125px;
  margin: 0px;
  display: flex;
  align-items: center;
  background-color: #5c5484;
  color: white;
  font-weight: 600;
}

.toolbar img {
  height: auto;
}
h1 {
  text-align: center;
  margin: 8px 0;
}
