button#btnSave.btn.btn-outline-secondary {
  background-color: #5c5484;
  color: #fff;
  border-color: #fff;
  padding: 10px 30px;
}

button#btnSave.btn.btn-outline-secondary:hover {
  color: #000;
  border-color: #000;
  background-color: #fff;
}

form.infor-input.ng-dirty.ng-touched.ng-valid {
  margin-bottom: 20px;
}
